@font-face {
  font-family: ultrasFont;
  src: url(./Images/ultrasliberi.ttf);
}

.App {
  background: #010101;
  background-image: url('./Images/img2.jpg');
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 1.1em;
  color: #545B64;
  margin-top: -100px;
  height: 1400px;
}

#infoBox, #errorBox, #loadingBox {
  width: 80%;
  margin: 10px auto;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;

}
#loadingBox {
  background: #7CB3E9;
}
#infoBox {
  background: #393;
}
#errorBox {
  background: #F50;
}
#main {
  text-align: center;
}
