.home-view{
  text-align: center;
  width: 90%;
  margin: auto;
}

#content {
  opacity: 0.97;
  background-color: #2A2E32;
  border-radius: 10px;
  margin-right: 90px;
  margin-left: 167px;
}