.navigation-bar  {
    position: fixed;
    margin-top: 50px;
    background: #001d48;
    text-align: center;
    padding: 70px 25px;
    line-height: 1.5;
    border-radius: 5px;

}

.navigation-bar a{
    font-size: 20px;
    margin-top: -10px;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: block;
}

.navigation-bar span{
    margin-top: -30px;
    text-align: center;
    color: white;
    padding: 25px 20px;
    border-radius: 5px;
    display: block;
}
.navigation-bar a:hover {
    color: black;
    background: cornflowerblue;
}