h1{
  color: blue;
  font-family: ultrasFont;
  margin-left: 150px;
  font-size: 150px;
  -webkit-text-stroke: 1px white;
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

h2{
  margin-left: 150px;
  font-size: 40px;
  margin-top: -20px;
  color: white;
}

header{
    text-align: center;
    margin-top: -20px;
}